<section class="container">
  <!-- Profile Card -->
  <mat-card class="profile-card mat-elevation-z6">
    <div class="name-title-row">
      <span class="name">Sundar K</span>
      <span class="divider">|</span>
      <span class="title">Senior Frontend Engineer</span>
    </div>

    <mat-divider></mat-divider>

    <ul class="contact-list">
      <li><strong>Availability:</strong> 8–5 AM EST</li>
      <li><strong>Email:</strong> sundar.kol&#64;gmail.com</li>
      <li><strong>Location:</strong> Atlanta, GA</li>
      <li><strong>Phone: 225-449-3043</strong></li>

      <div class="contact-button">
        <a
          mat-raised-button
          color="primary"
          href="https://www.linkedin.com/in/sundar-k-a342b6b6/"
          target="_blank"
        >
          LinkedIn
        </a>
      </div>
    </ul>
  </mat-card>

  <!-- Clients Card -->
  <mat-card class="profile-card mat-elevation-z6">
    <mat-card-title class="name-title-row">Clients</mat-card-title>
    <mat-divider></mat-divider>

    <ul class="client-list">
      <li>AT&T - Atlanta GA (On-Site)</li>
      <li>Bank of Montreal - San Ramon, CA (Remote)</li>
      <li>Pramati Technologies - Hyderabad, India (On-Site)</li>
    </ul>
  </mat-card>

  <!-- Education Card -->
  <mat-card class="profile-card mat-elevation-z6">
    <mat-card-title class="name-title-row">Education</mat-card-title>
    <mat-divider></mat-divider>

    <ul class="client-list">
      <li>Masters in Computer Science</li>
      <li>B.Tech in Information Technology</li>
    </ul>
  </mat-card>

  <!-- Technologies Card -->
  <mat-card class="tech-card mat-elevation-z4">
    <mat-card-title class="name-title-row-t">Technologies</mat-card-title>
    <mat-divider></mat-divider>

    <mat-chip-set class="tech-chips">
      <mat-chip color="primary" selected>
        <mat-icon>change_history</mat-icon> Angular
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>terminal</mat-icon> Node.js
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>language</mat-icon> HTML5
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>brush</mat-icon> CSS3
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>blur_circular</mat-icon> React
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>cloud</mat-icon> Azure
      </mat-chip>

      <mat-chip color="primary" selected>
        <mat-icon>cloud_queue</mat-icon> AWS
      </mat-chip>
    </mat-chip-set>
  </mat-card>
</section>
